.loginsignup{
    width: 100% ;
    height: 100vh;
    background: linear-gradient(140deg , #d6675d, #e2a74922 60%);
    padding-top: 100px;
    padding-bottom: 100px;
}

.loginsignup-container{
    width: 450px;
    height: 450px;
    background: white;
    margin: auto;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.loginsignup-container h1{
    margin: 15px 0px;
    font-size: 20px;
}

.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.loginsignup-fields input{
    height: 50px;
    width: 90%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
    border-radius: 10px;
}

.loginsignup-container button{
    width: 95%;
    height: 50px;
    color: white;
    background: #2bce64;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}

.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    font-size: 15px;
}

.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 500;
}