.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow: 0 1px 3px -2px black;
}

.log{
    width: 50px;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 70px;;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-logo p {
    color: #cb6161;
    font-size: 28px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    color: #626262;
    font-size: 17px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #1c0b0b;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
    padding-right: 50px;
}

.nav-login-cart button {
    width: 107px;
    height: 45px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 17px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #524b4b;
    color: #f6e3e3;
}


.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -75px;
    border-radius: 11px;
    font-size: 14px;
    background: #2bce64;
    color: white;
}

/* Media Query for Tablet */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 12px;
    }

    .nav-logo p {
        font-size: 28px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 18px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 130px;
        height: 50px;
        font-size: 18px;
    }
}

/* Media Query for Mobile */
@media (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .nav-logo p {
        font-size: 24px;
    }

    .nav-menu {
        flex-direction: column;
        gap: 20px;
        font-size: 16px;
    }

    .nav-login-cart {
        flex-direction: column;
        gap: 20px;
    }

    .nav-login-cart button {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;
    }
}